.*project
.settings/
.vscode
*~
cypress/screenshots/
cypress/videos/
acceptance/node_modules
.storybook-build
build
/core/
!/cypress/core/
node_modules
results
yarn.lock
/public

packages/*
!packages/kitconcept-intranet
