[repository]
name = "kitconcept.intranet"
changelog = "CHANGELOG.md"
version = "version.txt"
compose = ["docker-compose.yml"]

[repository.towncrier]
section = "Project"
settings = "towncrier.toml"

[backend.package]
name = "kitconcept.intranet"
path = "backend"
changelog = "backend/CHANGELOG.md"
towncrier_settings = "backend/pyproject.toml"
base_package = "kitconcept.core"
publish = true

[frontend.package]
name = "@kitconcept/intranet"
path = "frontend/packages/kitconcept-intranet"
changelog = "frontend/packages/kitconcept-intranet/CHANGELOG.md"
towncrier_settings = "frontend/packages/kitconcept-intranet/towncrier.toml"
base_package = "@kitconcept/core"
publish = true
