#page-document.view-wrapper.person-view {
  .person-profile {
    background: var(--accent-color);
  }

  header.profile-header,
  .contact-wrapper,
  .bio-section {
    max-width: var(--default-container-width);
    margin: 0 auto;
  }
}

.profile-header {
  display: flex;
  align-items: center;
  gap: $spacing-small;
  padding-bottom: $spacing-xlarge;
  padding-top: $spacing-large;
  margin-bottom: $spacing-large;
  border-top: 1px solid var(--accent-foreground-color);
}

.profile-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.profile-info {
  .organisational-unit {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
  }
}

.affiliations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
  line-height: 33px;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-large;
  padding-bottom: $spacing-large;
}

.contact-wrapper,
.bio-section {
  h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 1px;
    padding-bottom: $spacing-small;
    border-bottom: 1px solid var(--accent-foreground-color);
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-small;
  padding-top: $spacing-medium;

  .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  a {
    text-decoration: underline;
  }
}

address {
  padding-top: $spacing-medium;
  font-style: normal;

  h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
}

.bio-section {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;

  .bio-content {
    padding: $spacing-medium 0;

    p {
      font-size: 24px;
      font-weight: 300;
      line-height: 33px;
    }
  }
}

@media (max-width: 980px) {
  .person-profile {
    padding: 0 $spacing-small;
  }
}

@media (max-width: 769px) {
  .profile-header {
    flex-direction: column;
    text-align: center;
    gap: $spacing-small;
  }

  .profile-info h1 {
    font-size: 1.5rem;
  }

  .contact-wrapper {
    grid-template-columns: 1fr;
    gap: $spacing-medium;
  }
}
