#page-search > .ui.container {
  width: 100% !important;
  max-width: 1440px !important;
  padding: 0 10px !important;
  margin: 0 auto !important;
}

// Highlight searchbox on hover and focus
.header-wrapper.intranet-header
  .header
  .search-wrapper
  .search
  .field.searchbox {
  padding-right: 0;
  border: 1px solid transparent !important;
  border-radius: 2px;
  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    transition:
      box-shadow 0.2s,
      border-color 0.2s;
  }
  > div {
    margin-left: 1em;
  }
}
