.field-wrapper-roles {
  display: none;
}

// Unhide changeNote Field
.field-wrapper-changeNote {
  display: block !important;
}

// #### slate width override ###
#page-document .blocks-group-wrapper {
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6,
  & > ul,
  & > ol,
  & > li,
  & > p,
  & > span,
  & > .block.image.medium,
  & > .block.image.small {
    @include default-container-width();
    @include adjustMarginsToContainer($default-container-width);
  }
}
#page-add,
#page-edit {
  .block.slate .slate-editor,
  .block-editor-image .inner .block.image:has(figure.medium),
  .block-editor-image .inner .block.image:has(figure.small) {
    @include default-container-width();
    @include adjustMarginsToContainer($default-container-width);
  }
}

// Hide setting for "Intranet Header" in root sidebar, might not be needed after refactoring the feature
#sidebar {
  .field-wrapper-has_intranet_header {
    display: none;
  }
}
