.feedback-form {
  margin: 16px 0 60px 0;
  @include default-container-width();
  @include adjustMarginsToContainer($default-container-width);
  h1 {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
    @include block-title();
  }

  .react-aria-TextField {
    width: 100%;
    margin-bottom: $spacing-small;

    input,
    textarea {
      padding: $spacing-small;
      @include body-text();
      letter-spacing: 1px;
    }

    input {
      border-radius: 0;
    }
  }
  .feedback-to {
    margin-top: $spacing-small;
    font-weight: 300;
  }
  .feedback-form-buttons {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: start;
    margin-top: $spacing-xlarge;
    gap: $spacing-small;
  }
  .feedback-label {
    @include headtitle1();
    margin-bottom: 8px;
  }
  .help {
    padding-top: 10px;
    font-size: 13px;
  }
  .reset-button,
  .send-button {
    display: inline-block;
    min-height: 1em;
    padding: 8px 20px;
    border: 1px solid var(--primary-foreground-color, #000);
    border-radius: 0;

    background-color: var(--primary-color, #fff);

    color: var(--primary-foreground-color, #000);
    cursor: pointer;
    outline: none;
    @include body-text-bold();

    &:hover,
    &:active,
    &:focus {
      border-color: var(--primary-foreground-color, #000);
      background-color: var(--primary-foreground-color, #000);
      color: var(--primary-color, #fff);
    }
  }

  .feedback-textarea {
    border-radius: none;
  }
}
