.delegate-review-buttons,
.postpone-review-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
.comment-field {
  margin-top: 40px;
  margin-left: 10px;
}
.comment-label {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.postpone-review-form .help {
  padding-left: 10px;
}

.review-info {
  display: flex;
  flex-direction: row;
  padding: 8px;
  background-color: $lightgrey;
  color: $grey;
  gap: 10px;

  .review-info-labels {
    display: flex;
    flex-direction: column;
  }

  .review-info-values {
    display: flex;
    flex-direction: column;
    .due_date {
      color: red;
    }
  }
}

.review_menu:disabled {
  opacity: 0.5;
}
