.Toastify__toast.Toastify__toast--info.return-to-origin-toast
  .toast-box-center {
  padding-top: 20px;
}

.return.toast-box {
  border: none;
  margin-right: 20px;
  background: none;
  cursor: pointer;
}
