//  Make the search page full width
#page-search > .ui.container {
  width: 100% !important;
  max-width: 1440px !important;
  padding: 0 10px !important;
  margin: 0 auto !important;
}

// Highlight searchbox on hover and focus
.header-wrapper.intranet-header
  .header
  .search-wrapper
  .search
  .field.searchbox {
  border: 1px solid transparent !important;
  border-radius: 2px;
  &:hover,
  &:focus,
  &:focus-within {
    border-color: #2563b5 !important;
    box-shadow: 0 0 0 3px rgba(124, 128, 131, 0.3);
    transition:
      box-shadow 0.2s,
      border-color 0.2s;
  }
}
