---
version: "3.9"

services:
  frontend:
    image: ${IMAGE_NAME_PREFIX}-frontend:${IMAGE_TAG:-latest}
    environment:
      RAZZLE_INTERNAL_API_PATH: http://${STACK_NAME}_backend:8080/Plone
      RAZZLE_API_PATH: https://${HOSTNAME}
    networks:
      - public
    healthcheck:
      disable: true
    deploy:
      replicas: 2
      placement:
        constraints:
          - node.labels.type == app
          - node.labels.env == production
      update_config:
        parallelism: 1
        delay: 5s
        order: start-first
      labels:
        - traefik.enable=true
        - traefik.constraint-label=public
        # Service
        - traefik.http.services.svc-${STACK_PREFIX}-front.loadbalancer.server.port=3000
        # Routers
        ## /
        - traefik.http.routers.rt-${STACK_PREFIX}-front.rule=Host(`${HOSTNAME}`)
        - traefik.http.routers.rt-${STACK_PREFIX}-front.entrypoints=https
        - traefik.http.routers.rt-${STACK_PREFIX}-front.tls=true
        - traefik.http.routers.rt-${STACK_PREFIX}-front.tls.certresolver=${CERTRESOLVER}
        - traefik.http.routers.rt-${STACK_PREFIX}-front.service=svc-${STACK_PREFIX}-front
        - traefik.http.routers.rt-${STACK_PREFIX}-front.middlewares=gzip

  backend:
    image: ${IMAGE_NAME_PREFIX}-beispiele:${IMAGE_TAG:-latest}
    environment:
      COLLECTIVE_SOLR_HOST: solr
      COLLECTIVE_SOLR_PORT: 8983
    networks:
      - public
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type == app
          - node.labels.env == production
      update_config:
        parallelism: 1
        delay: 5s
        order: start-first
      labels:
        - traefik.enable=true
        - traefik.constraint-label=public
        # Services
        - traefik.http.services.svc-${STACK_PREFIX}-back.loadbalancer.server.port=8080
        # Middlewares
        ## VHM rewrite /++api++/
        - "traefik.http.middlewares.mw-${STACK_PREFIX}-back-vhm-api.replacepathregex.regex=^/\\+\\+api\\+\\+($$|/.*)"
        - "traefik.http.middlewares.mw-${STACK_PREFIX}-back-vhm-api.replacepathregex.replacement=/VirtualHostBase/https/${HOSTNAME}/Plone/++api++/VirtualHostRoot$$1"
        ## VHM rewrite /ClassicUI/
        - "traefik.http.middlewares.mw-${STACK_PREFIX}-back-vhm-classic.replacepathregex.regex=^/ClassicUI($$|/.*)"
        - "traefik.http.middlewares.mw-${STACK_PREFIX}-back-vhm-classic.replacepathregex.replacement=/VirtualHostBase/https/${HOSTNAME}/Plone/VirtualHostRoot/_vh_ClassicUI$$1"
        ## Basic Authentication
        ### Note: all dollar signs in the hash need to be doubled for escaping.
        ### To create user:password pair, it's possible to use this command:
        ### echo $(htpasswd -nb user password) | sed -e s/\\$/\\$\\$/g
        - traefik.http.middlewares.mw-${STACK_PREFIX}-back-auth.basicauth.users=kitconcept:$$apr1$$6RN5HfVi$$gB0AHNAzvzKXudmevCYdU.

        # Routes
        ## /++api++
        - traefik.http.routers.rt-${STACK_PREFIX}-back-api.rule=Host(`${HOSTNAME}`) && PathPrefix(`/++api++`)
        - traefik.http.routers.rt-${STACK_PREFIX}-back-api.entrypoints=https
        - traefik.http.routers.rt-${STACK_PREFIX}-back-api.tls=true
        - traefik.http.routers.rt-${STACK_PREFIX}-back-api.service=svc-${STACK_PREFIX}-back
        - traefik.http.routers.rt-${STACK_PREFIX}-back-api.middlewares=gzip,mw-${STACK_PREFIX}-back-vhm-api
        ## /ClassicUI
        - traefik.http.routers.rt-${STACK_PREFIX}-back-classic.rule=Host(`${HOSTNAME}`) && PathPrefix(`/ClassicUI`)
        - traefik.http.routers.rt-${STACK_PREFIX}-back-classic.entrypoints=https
        - traefik.http.routers.rt-${STACK_PREFIX}-back-classic.tls=true
        - traefik.http.routers.rt-${STACK_PREFIX}-back-classic.service=svc-${STACK_PREFIX}-back
        - traefik.http.routers.rt-${STACK_PREFIX}-back-classic.middlewares=gzip,mw-${STACK_PREFIX}-back-auth,mw-${STACK_PREFIX}-back-vhm-classic

  solr:
    image: ghcr.io/kitconcept/solr:latest
    command:
      - solr-precreate
      - plone
      - /plone-config
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.type == app
          - node.labels.env == production

  # The solr-reindex service is scaled to 1 after a successful deployment.
  solr-reindex:
    image: ${IMAGE_NAME_PREFIX}-beispiele:${IMAGE_TAG:-latest}
    command: "run scripts/solr_activate_and_reindex.py --clear"
    environment:
      COLLECTIVE_SOLR_HOST: solr
      COLLECTIVE_SOLR_PORT: 8983
    healthcheck:
      disable: true
    deploy:
      replicas: 0
      placement:
        constraints:
          - node.labels.type == app
          - node.labels.env == production
      restart_policy:
        condition: none
    networks:
      - public

networks:
  public:
    external: true
